* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

header {
  width: 70%;
  margin: auto;
  height: 90vh;
}

#header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

#header #sx-header {
  padding-top: 50px;
  width: 48%;
  height: 100%;
}

#header #sx-header h1 {
  padding: 20px 0;
  color: #58402c;
  font-size: 1.9em;
}

#header #sx-header h4 {
  padding: 10px 0;
  font-size: 1.2em;
  color: #58402c;
}

#header #sx-header .registrazione {
  font-size: 0.6em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 80%;
  height: 10%;
  padding: 5px 0;
}

#header #sx-header .registrazione .tasto {
  width: 120px;
  height: 30px;
  background: #30488f;
  color: white;
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 5px;
}

#header #sx-header .registrazione .tasto img {
  width: 16px;
  height: 16px;
}

#header #sx-header #mail {
  color: #58402c;
}

#header #dx-header {
  width: 55%;
  height: 100%;
}

#header #dx-header img {
  width: 100%;
}

nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #58402c;
  color: #58402c;
}

nav #logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 10%;
  height: 100%;
}

nav #logo span {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
}

nav #nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  font-size: 0.6em;
  width: 50%;
  height: 100%;
  list-style-type: none;
}

nav #nav li {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  width: 18%;
  height: 30%;
}

nav #nav li .img-logo {
  width: 16px;
  height: 16px;
}

nav #nav #signup-nav {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
  border: 1px solid #30488f;
  color: #30488f;
  width: 22%;
  padding: 20px 10px;
  border-radius: 10px;
}

main {
  background-color: #ffe7d2;
  color: #58402c;
}

main #first-section {
  border-bottom: 1px solid #58402c;
  padding-bottom: 70px;
}

main section {
  width: 50%;
  margin: auto;
}

main section h3 {
  font-size: 1.3em;
  font-weight: bold;
  padding-top: 70px;
  padding-bottom: 20px;
  text-align: center;
}

main section .section-tre-img {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

main section .section-tre-img .tre-img {
  width: 30%;
  height: 200px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}

main section .section-tre-img img {
  width: 50%;
  height: auto;
}

main section .section-tre-img h5 {
  font-size: 0.8em;
}

main section .section-tre-img .tre-img-stretta {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  width: 35%;
  height: 100%;
}

main section .section-tre-img .tre-img-stretta img {
  width: 40px;
}

main section .section-una-img {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 50px;
  width: 100%;
  height: auto;
}

main section .section-una-img img {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 40%;
  height: auto;
}

main h3 {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 50px;
}

