header {
  @include margin;
  height: 90vh;
}

#header {
  @include display-flex-between;

  #sx-header {
    width: 40%;
    height: 100%;

    h1 {
      font-size: $font-size-grande;
    }

    h4 {
      font-size: $font-size-medio;
    }

    .registrazione {
      @include display-flex-between;
      width: 80%;
      height: 10%;
    }
  }

  #dx-header {
    width: 55%;
    height: 100%;

    img {
      width: 100%;
    }
  }
}
