// @include display-flex-between;
nav {
  @include display-flex-between;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid $main-color-font;
  color: $main-color-font;

  #logo {
    @include display-flex-center;
    width: 10%;
    height: 100%;

    span {
      @include display-flex-center;
      width: 100%;
      height: 50%;
    }
  }

  #nav {
    @include display-flex-between;
    font-size: 0.8em;
    width: 50%;
    height: 100%;
    list-style-type: none;

    li {
      @include display-flex-around;
      width: 18%;
      height: 30%;

      img {
        width: 20%;
        height: auto;
      }
    }

    #signup-nav {
      @include display-flex-around;
      border: 1px solid $second-color-font;
      color: $second-color-font;
      width: 22%;
      padding: 20px 10px;
      border-radius: 10px;
    }

  }

}
