// colori
$main-background: #ffe7d2;
$button-background: #30488f;
$main-color-font: #58402c;
$second-color-font: #30488f;

// font-size
$font-size-grande: 2em;
$font-size-medio: 1.2em;
$font-size-piccolo: 0.5em;
